@charset "UTF-8";
*{
  margin:0;
  padding: 0;
}

body{
  background: #000 url(../img/frutas-bg.jpg) repeat-y center center;
  background-size: cover;
  height: 100vh;
  font-size: 14px;
  overflow-x: hidden;
  font-family: 'Montserrat-Regular';
}

main{
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(125,185,232,0) 80%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(125,185,232,0) 80%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(125,185,232,0) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 );
}

.main-logo{
    color: #ffffff;
    span{
        text-shadow: 0px 0px 20px rgba(0,0,0,.9);
        font-size:48px;
    }
    img{
        display: block;
        margin: 3vh auto;
        width: 90%;
    }
}

.text-intro {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    bottom: 2.5vw;
    color: #000;
    width: 95vw;
    left: 2.5vw;
    background: rgba(255,255,255,0.85);
    h4 {
        text-align: center;
        font-size: 1.2em;
        line-height: 26px;
        padding: 4vh 6vw 2vh;
        margin: 0;
    }
    a{
        display: block;
        width: 90%;
    }
  }

  /**Buttons**/

.btn-open-modal{
    margin: 0 auto;
    padding: 15px;
    text-transform: uppercase;
    background: #86b129;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 3px;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 19px rgba(0,0,0,0.3);
    cursor: pointer;
    i {
        font-size: 44px;
        display: block;
        margin-bottom: 16px;
    }
    span {
        display: block;
        font-size: 12px;
    }
    &:hover,
    &:active,
    &:focus,
    &:visited{
        color: #ffffff;
        text-decoration: none;
    }
}
.btn-default {
    margin: 15px auto;
    padding: 15px;
    text-transform: uppercase;
    background: #86b129;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 3px;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    span {
        display: block;
        font-size: 12px;
    }
    &:hover,
    &:active,
    &:focus,
    &:visited{
        color: #ffffff;
        text-decoration: none;
    }
}

.btn-menu{
    background: none;
    color: #000000;
    border: none;
    font-size: 28px;
}

.btn-close{
    background: none;
    color: #000000;
    border: none;
    font-size: 18px;
}

@media (min-width:768px) {

}

@media (min-width:992px) {

}

@media(min-width:1200px){
    
}

