// Modal para introducción para editar los datos de perfil
#modalEditProfile.modal.modal-edit-profile.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    i.icon-cross
                h4 Editar datos de perfil
            .modal-body
                form
                    .form-group
                        label(for='pwd') Nombre y primer apellido:
                        input#pwd.form-control(type='text', name='pwd')
                    .form-group
                        label(for='email') Email:
                        input#email.form-control(type='email', name='email')
                    .form-group
                        label(for='password') Contraseña:
                        input#pwd.form-control(type='password', name='password')
                    .form-group.mB40
                        label(for='passwordrepeat') Repite contraseña:
                        input#pwd.form-control(type='password', name='passwordrepeat')
                    button.btn.btn-default(type='submit') Guardar
                    button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
