.block-input-search
    .row
        ul
            li.input
                button.btn-open-modal.btn-search(data-toggle='modal', data-target='#modalEnterBarcode')
                    i.icon-search
                    span Teclear código
            li.input-scanner
                button.btn-open-modal(type='button', data-toggle='modal', data-target='#livestream_scanner')
                    i.icon-barcode
                    span Escanear código
