.left-menu#menuLeft
    button.btn-close#js-close-menu
        i.icon-close
    include profile.jade
    nav
        ul
            li
                a(href="") Últimas busquedas
            li
                a(href="") Favoritos
            li
                a(href="") Alimentos por categoría
            li
                a(href="") Contacto
    .wrap-logo
        img(src='img/logo_infood_black.svg')