.left-menu#menuLeft
    button.btn-close#js-close-menu
        i.icon-close
    include profile.jade
    nav
        ul
            li
                a(href="buscar.html") Inicio
                    i.icon-home
            li
                a(href="results.html") Últimas busquedas
                    i.icon-history
            li
                a(href="favorites.html") Favoritos
                    i.icon-favorite-menu
            li
                a(href="categories.html") Alimentos por categoría
                    i.icon-category
    .wrap-logo
        img(src='img/logo_infood_black.svg')