li.list-item
    a(href="/product-detail.html")
        img(src="img/chocapic.jpg", alt="Imagen Chocapic")
        .wrap-text
            p Chocapic - Nestlé - 25 g, 1 barra
            span Código de barras: 3387390325768
        i.icon-eye