header{
    .logo {
        width: 100%;
        padding: 10px 2%;
        text-align: center;
        color: #ffffff;
        background: #ffffff;
        h1 {
            font-weight: bold;
            font-size: 24px;
            letter-spacing: 2px;
            margin: 0;
            display: inline-block;
            color: #86b129;
            vertical-align: middle;
            padding: 5px 0;
            img {
                display: inline-block;
                letter-spacing: 1px;
                width: 50%;
            }            
        }

    }
}


@media(min-width:768px){

}

@media(min-width:992px){
    
}

@media(min-width:1200px){
    
}
