.left-menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    background: rgba(255,255,255,0.97);
    padding: 20px;
    z-index: 9;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    transition: all ease-in-out 0.7s; 
    .btn-close{
        position: absolute;
        top: 10px;
        right: 10px;
        i{
           font-weight: bold; 
        }        
    }
    nav{
        padding-top:40px; 
        ul{
            padding: 0;
            margin: 0;
            li{
                padding: 8px 0;
                list-style-type: none;
                a{
                    position: relative;
                    color: $black;
                    padding-left: 28px;
                    &:hover{
                        text-decoration: none;
                        color: $greenInfood;
                    }
                    i{
                        position: absolute;
                        top: -1px;
                        left: 0;
                        color: $greenInfood;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .wrap-logo{
        position: absolute;
        bottom: 20px;
        left:0;
        img{
        display: block;
        width: 55%;
        margin: 0 auto;           
        }
    }
}


@media(min-width:768px){

}

@media(min-width:992px){
    
}

@media(min-width:1200px){
    
}
