.list-item{
    background: rgba(255,255,255,0.7);
    padding: 12px 8px;
    border-bottom: 1px solid #dadada;
    margin: 2px 5px;
    img{
        display: inline-block;
        width: 20%;
    }
    .wrap-text{
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        overflow: hidden;
        width: 71%;
        p{
            color: $black;
            margin: 0;
            padding: 0;
            font-size: 12px;
            margin-bottom: -2px;
        }
        span{
            margin: 0;
            padding: 0;
            color: #bdbcbc;
            font-size: 10px;
        }
    }
    i{
        color: $greenInfood;
        font-size: 22px;
        display: inline-block;
        vertical-align: middle;
    }
    &.categories-item{
        width: 46.3%;
        display: inline-block;
        padding: 18px;
        a{
            display: block;
            text-align: center;
            color: $black;
            &:hover,
            &:focus,
            &:visited{
                color: $black;
                text-decoration: none;
                outline: none;
            }
            i{
                display: block;
                margin-bottom: 10px;
                text-align: center;
                font-size: 30px;
            }            
        }

    }
}


@media(min-width:768px){

}

@media(min-width:992px){
    
}

@media(min-width:1200px){
    
}
