extends ./layout-inner.jade
block content
    .container
        include components/block-input-search.jade
        include components/block-info-box.jade
        include components/block-modal-scan.jade