extends ./layout-inner.jade
block content
    section.wrapper-list
        .heading-list
            img(src="img/gluten-free.svg", alt="Resultados de búsqueda")
            h3 Alimentos sin gluten
        ul
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
