extends ./layout-inner.jade
block content
    section.wrapper-list
        .heading-list
            img(src="img/favorite.svg", alt="Favoritos")
            h3 Favoritos
            p Aquí encontrarás el listado de tus productos favoritos
        ul
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade