extends ./layout.jade
block content
    .container
        .text-center
            h1.main-logo
                img(src='img/logo_infood.svg')
            .text-intro
                h4
                    | Bienvenido a Infood, la app con la que podr치s conocer toda la informaci칩n de un alimento s칩lamente con escanear su c칩digo de barras.
                a.btn-barcode(href="buscar.html") Comenzar