doctype
html(lang="es")
	head
		title Infood | Información sobre alimentos
		include partials/head.jade
	body
		include partials/header.jade
		include components/left-menu.jade
		main(role="main")
			block content
		include components/block-modal-edit-profile.jade
		footer(role="contentinfo")
			include partials/footer.jade
		include partials/scripts.jade