doctype
html(lang="es")
	head
		title Infood | Información sobre alimentos
		include partials/head.jade
	body
		main(role="main")
			block content
		footer(role="contentinfo")
			include partials/footer.jade
		include partials/scripts.jade