extends ./layout-inner.jade
block content
    section.wrapper-list.product-detail
        .heading-list
            img(src="img/chocapic.jpg", alt="Resultados de búsqueda")
            h3 Nombre del producto
        ul.productProperties
            li
                p
                    span.title Marca: 
                    span.description Nestlé
            li
                p
                    span.title Nombre del producto: 
                    span.description Chocapic
            li
                p
                    span.title Código de barras: 
                    span.description 3387390325768
            li
                p
                    span.title Categoria: 
                    span.description en:sugary-snacks, en:confectioneries, en:bars, en:chocolate-bars
            li
                p
                    span.title País de procedencia: 
                    span.description nl:Frankrijk,nl:Spanje,nl:Portugal,France
            li
                p
                    span.title Ingredientes: 
                    span.description céréales 28.1% (farine complète de _blé_ 19.6%, farine de _blé_ 7.2%, semoule de maïs, farine de riz), sirop de glucose, huiles végétales (de palmiste, de palme, de tournesol), chocolat en poudre 10% (sucre, cacao en poudre), _lait_ concentré sucré.8% (_lait_, sucre), _lait_ écrémé en poudre 8.7%, humectants (sirop de sorbitol, glycérol), sirop de sucre inverti, sucre, maltodextrine, vitamines et minéraux (carbonate de calcium, niacine, fer, acide pantothénique, acide folique, B6, riboflavine), dextrose, émulsifiant (lécithine de tournesol), sel, extrait de malt d’_orge_, antioxydant (extrait riche en tocophérols), cacao maigre en poudre, arôme naturel, correcteur d’acidité (phosphates de sodium)
            li
                p
                    span.title Alérgenos: 
                    span.description blé, blé, lait, lait, lait, orge
            li
                p
                    span.title Nivel de grasa: 
                    span.description moderate
            li
                p
                    span.title Nivel de sal: 
                    span.description moderate
            li
                p
                    span.title Nivel de azúcares: 
                    span.description high
                p
                    span.title Posibles trazas de: 
                    span.description nl:Soja,nl:Noten
            li
                p
                    span.title Última actualización: 
                    span.description 2018
            li
                p
                    span.title Envase: 
                    span.description fr:Film plastique,fr:Point vert,nl:90,nl:Tidyman wastebasket
            li
                p
                    span.title Peso: 
                    span.description 25 g, 1 barre
            li
                p
                    span.title Lugar de fabricación: 
                    span.description 
            li
                p
                    span.title Nutriscore: 
                    span.description
                        img(src='img/nutriscore-d.svg', alt='')
        table.table.table-bordered
            thead
                tr
                    th Valor Nutricional
                    th 100g
            tbody
                tr
                    td Valor Energético
                    td 1707
                tr
                    td Carbohidratos
                    td 57.8
                tr
                    td Grasas
                    td 13.7
                tr
                    td Fibra
                    td 	4.6
                tr
                    td Proteinas
                    td 7.6
                tr
                    td Sal
                    td 0.4
                tr
                    td Grasas Saturadas
                    td 13.7
                tr
                    td Sodio
                    td 0.157
                tr
                    td Azucares
                    td 28.1
