extends ./layout-inner.jade
block content
    section.wrapper-list
        .heading-list
            img(src="img/search.svg", alt="Resultados de búsqueda")
            h3 Últimas búsquedas
            p Aquí encontrarás tus últimas 20 búsquedas
        ul
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
            include components/list-item.jade
